<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>

    <application
        android:allowBackup="false"
        android:label="A11y Test Harness"
        android:theme="@style/Theme.AppCompat.DayNight">

        <activity
            android:name=".HarnessLauncherActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TargetConsoleActivity"
            android:exported="false"
            android:label="A11y Targeted Console" />

        <service
            android:name=".HarnessAccessibilityService"
            android:exported="false"
            android:label="A11y Test Harness Service"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/harness_accessibility_config" />
        </service>

        <receiver
            android:name=".HarnessCommandReceiver"
            android:exported="true" />
    </application>
</manifest>
